<div class="container">
    <div class="card">
        <h1>Book info By ID</h1>
        <p>  Book ID: {{data.id}}</p>
        <p>Title: {{data.name}} written by: {{data.author}}</p>
        <p>Rating: {{data.rating}}</p>
        <p>Desciption: {{data.description}}</p>
        <a href="/bookList">Go back to List</a>
    </div>
</div>